.staimg{
    height:90vh;
    background-image: url("../assets/images/eplsta.svg") ;
    background-repeat: no-repeat;
    background-size: 100%;
}

.cards-list{
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding-top:10px ;
}

.frame{
    background-image: url("../assets/images/Frame.svg");
    background-repeat: no-repeat;
    background-color: #000032;
    height:1500px;
    background-size: 100%;
}

@media screen and (max-width:780px) {
    .staimg{
        height: 23vh;
    }
    .frame{
        height: 700px;
    }
    /* .team-icons{
        height: 2px;
    } */
}