.land{
    background-color: #262551;
}

.land-nav{
    height:10vh;
    background-color: #262551;
    align-items: center;
}
.land-nav a{
    color:white;
    font-size: 2rem;
    font-weight: 800;
}

.hamburger-button{
    display: none;
}

@media screen and (max-width:780px){
    .land-nav{
        display: none;
    }
    
    .hamburger-button
    {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        background-color:#262551;
        width: 35px;
        height: 35px;
    }
    .land-nav-mobile{
        margin-top: 30px;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color:rgb(16, 14, 98,0.91);
        width: 100%;
        height: auto;
        text-align: center;
        z-index: 1;
        color: rgb(255, 255, 255);
    }
    .land-nav-mobile a{
        padding:6px;
        border-bottom: 1px solid white;
    }
}